
h3 {
    color: rgb(69, 100, 255);
    padding-top: 1.875rem;
}

.mayus {
    list-style-type: upper-alpha;
}

.min {
    list-style-type: lower-alpha;
}

.cir{
    list-style-type:circle;
}